<nav class="navbar text-white px-4 d-flex justify-content-between align-items-center"
     style="background-color: #2f2f69; height: 56px; position: fixed; top: 0; left: 0; right: 0; z-index: 1000;">
  <h4 class="mb-0">ExpenseApp</h4>
  <div class="d-flex align-items-center">
    <span style="margin-right: 25px;">Welcome, {{ userName }}</span>
    <button class="btn btn-sm btn-outline-light" (click)="logout()" title="Logout">
      <i class="bi bi-box-arrow-right"></i>
    </button>
  </div>
</nav>  
<div class="d-flex" id="wrapper"
     style="position: absolute; top: 56px; bottom: 0; left: 0; right: 0; overflow: hidden;">
  <div class="text-white sidebar p-3"
       style="width: 220px; height: 100%; overflow-y: auto;background-color: #35354e;">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/admin/dashboard" routerLinkActive="active">📊 Dashboard</a>
      </li>
     <!-- Master Menu (Collapsible) -->
        <li class="nav-item">
          <a class="nav-link text-white d-flex justify-content-between align-items-center"
            (click)="toggleMasterMenu();  $event.preventDefault()"
            [attr.aria-expanded]="isMasterMenuOpen"
            aria-controls="masterSubmenu">
            🗂️ Master
            <i class="bi" [ngClass]="isMasterMenuOpen ? 'bi-caret-up-fill' : 'bi-caret-down-fill'"></i>
          </a>

          <ul id="masterSubmenu"
              class="nav flex-column ms-3"
              [ngClass]="{'collapse': !isMasterMenuOpen, 'show': isMasterMenuOpen}">
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/admin/rooms" routerLinkActive="active">
                🏠 Room Master
              </a>
            </li>
          </ul>
          <ul id="masterSubmenu"
              class="nav flex-column ms-3"
              [ngClass]="{'collapse': !isMasterMenuOpen, 'show': isMasterMenuOpen}">
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/admin/members" routerLinkActive="active">
                🏠 Member Master
              </a>
            </li>
          </ul>
        </li>
    </ul>
  </div>

  <div class="flex-grow-1 p-4 bg-light"
       style="overflow-y: auto; height: 100%;">
    <router-outlet></router-outlet>
  </div>
</div>
