<div class="container-fluid">
  <div class="card shadow rounded p-4">
    <h3 class="mb-4">{{ isEditMode ? 'Edit Room' : 'Add Room' }}</h3>

    <form [formGroup]="roomForm" (ngSubmit)="onRoomSubmit()">
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label">Room Name</label><span class="text-danger">*</span>
          <input type="text" class="form-control" formControlName="name" placeholder="Enter room name">
          <input type="hidden" class="form-control" formControlName="id"/>
          <span class="text-danger" *ngIf="formErrors.name">{{ formErrors.name }}</span>
        </div>
        <div class="col-md-6">
          <label class="form-label">Image</label><span class="text-danger">*</span>
          <div class="input-group">
            <input type="file" class="form-control" (change)="onFileChange($event)">
            <button
              type="button"
              *ngIf="isEditMode && roomForm.get('image')?.value"
              class="btn btn-secondary"
              (click)="viewImage(roomForm.get('image')?.value)">
              <i class="bi bi-eye"></i>
            </button>
          </div>
          <span class="text-danger" *ngIf="formErrors.image">{{ formErrors.image }}</span>
        </div>

      </div>

      <div class="mb-3">
        <label class="form-label">Address</label><span class="text-danger">*</span>
        <textarea class="form-control" rows="3" formControlName="address" placeholder="Enter address"></textarea>
        <span class="text-danger" *ngIf="formErrors.address">{{ formErrors.address }}</span>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label">Rent Date</label><span class="text-danger">*</span>
          <input type="date" class="form-control" formControlName="rentDate">
          <span class="text-danger" *ngIf="formErrors.rentDate">{{ formErrors.rentDate }}</span>
        </div>
        <div class="col-md-6">
          <label class="form-label">Amount</label><span class="text-danger">*</span>
          <input type="number" class="form-control" formControlName="ammount" placeholder="₹ 0.00">
          <span class="text-danger" *ngIf="formErrors.ammount">{{ formErrors.ammount }}</span>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">{{isEditMode ? 'Edit Room' : 'Save Room'}}</button>
        <button type="button" class="btn btn-secondary" (click)="navigateToListPage()">Cancel</button>
      </div>
    </form>
  </div>
</div>


<!-- Image View Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">Room Image</h5>
        <button type="button" class="btn" data-dismiss="modal" aria-label="Close" style="margin-left: auto; background: none; border: none;">
          <i class="bi bi-x-lg fs-5"></i>
        </button>
      </div>
      <div class="modal-body text-center">
        <img [src]="selectedImageUrl" class="img-fluid rounded" alt="Room Image">
      </div>
    </div>
  </div>
</div>
