<div class="container mt-4">
  <div class="d-flex justify-content-between mb-3">
    <h3>Room List</h3>
    <button class="btn btn-primary" (click)="navigateToAddRoom()">Add Room</button>
  </div>
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Address</th>
        <th>Rent Date</th>
        <th>Amount</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of rooms">
        <td>{{ room.name }}</td>
        <td>
           <button class="btn btn-sm btn-info me-2" (click)="viewImage(room.image)">
              <i class="bi bi-eye"></i> View
           </button>
        </td>
        <td>{{ room.address }}</td>
        <td>{{ room.rentDate | date:'dd-MM-yyyy' }}</td>
        <td>{{ room.ammount | currency:'INR' }}</td>
        <td>
          <button class="btn btn-sm btn-warning me-2" (click)="editRoom(room.id)">Edit</button> &nbsp;
          <button class="btn btn-sm btn-danger" (click)="deleteRoom(room.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Image View Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">Room Image</h5>
        <button type="button" class="btn" data-dismiss="modal" aria-label="Close" style="margin-left: auto; background: none; border: none;">
          <i class="bi bi-x-lg fs-5"></i>
        </button>
      </div>
      <div class="modal-body text-center">
        <img [src]="selectedImageUrl" class="img-fluid" alt="Room Image">
      </div>
    </div>
  </div>
</div>
